h1 {
	text-align:center;font-family: "Trebuchet MS", Helvetica, sans-serif;font-size:50px;
}
button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;font-size:40px;
}
body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("smallbridge.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}