h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;font-size:50px;
}
p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;font-size:25px;
}
button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;font-size:50px;
}
